# Object files
*.o
*.ko
*.obj
*.elf

# JetBrains Software (Goland)
.idea/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compiled versions
bin/
build/
# Compiled versions from 'go build'
go-check
go-check.exe

# ignore cscope and ctags databases
cscope.out
tags

# exclude Vim temp files
*.swp
*.swo
